*{
    margin: o;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

nav .nav_section{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}